<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Create a New Account</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../styles/register.css">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar">
            <div class="container">
                <a class="navbar-brand custom-logo" href="index.html">
                    <img src="/images/weiyu/tourism_malaysia_logo.png" alt="Malaysia Tourism Logo" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto custom-nav">
                        <li class="nav-item">
                            <a class="fw-bold nav-link" href="about.html">About Malaysia</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="fw-bold nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Destination
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-item-custom">
                                    <a class="dropdown-item" href="shoppingMall.html">
                                        <img src="../images/weiyu/1stAvenue.jpg" alt="Shopping Mall" class="dropdown-image">
                                        Shopping Mall
                                    </a>
                                </li>
                                <li class="dropdown-item-custom">
                                    <a class="dropdown-item" href="restaurant.html">
                                        <img src="../images/weiyu/food_places.jpeg" alt="Food Places" class="dropdown-image">
                                        Food Places
                                    </a>
                                </li>
                                <li class="dropdown-item-custom">
                                    <a class="dropdown-item" href="../templates/index.html#popular-places">
                                        <img src="../images/weiyu/langkawi.png" alt="Popular Place" class="dropdown-image">
                                        Tourist Destination
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="nav-item">
                            <a class="fw-bold nav-link" href="travel_tips.html">Travel Tips</a>
                        </li>
                        <li class="nav-item">
                            <a class="fw-bold nav-link" href="Deals.html">Deals & Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="fw-bold nav-link" href="FAQ.html">FAQ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="fw-bold nav-link" href="profile.html" id="profileDropdown">
                                <img src="../images/weiyu/login_icon.png" alt="Login Icon" class="login-icon">
                                Profile 
                            </a>
                            <ul class="dropdown-menu" id="profileMenu">
                                <li><a class="dropdown-item" href="login.html">Sign In</a></li>
                                <li><a class="dropdown-item" href="register.html">Register</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Register</h2>
                        <form id="registerForm">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" id="username" placeholder="Username" required>
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" id="password" placeholder="Password" required>
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
                            </div>
                            <div id="passwordFeedback" class="text-danger"></div>
                            <div id="errorMessages" class="text-danger d-none"></div>
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LeMQCcqAAAAABC5wVUIISftsyv-uq221evz4HNb"></div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </form>
                        <p class="text-center mt-3">Already have an account? <a href="login.html">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section -->
    <footer class="footer py-4 bg-dark text-white">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p>Email: info@tourismmalaysia.com</p>
                    <p>Phone: +60 3-1234 5678</p>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <a href="https://www.facebook.com/malaysia.travel.my" class="text-white me-2"><i class="fab fa-facebook "></i></a>
                    <a href="https://twitter.com/TourismMalaysia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/malaysia.truly.asia/?hl=en" class="text-white me-2"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="about.html" class="text-white">About Malaysia</a></li>
                        <li><a href="Deals.html" class="text-white">Deals & Packages</a></li>
                        <li><a href="login.html" class="text-white">Sign In</a></li>
                        <li><a href="FAQ.html" class="text-white">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <p class="mt-3">&copy; 2024 Tourism Malaysia. All Rights Reserved.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../scripts/register.js"></script>
    <script src="../scripts/navbar.js" defer></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>
